/* INSIDE THE STYLESHEET */
    h1 {
      color: red;
      font-size: 32px;
    }

#my_container {
    background-color: blue; /* or hexidecimal #FFFF00 */
}

#content #main_text .title
    {
        color:red;
    }

input{
        background-repeat:repeat-x;
        border: 0px solid;
        height:25px;
        width:125px;
    }
    #firstname{
        background-color:red;
    }
    #lastname{
         background-color:blue;
    }



    h2 {
      font-weight: bold;
      color: blue;
      font-size: 24px;
    }

    p {
        background-color: green;
        color:white;
    }

    button{
        border: 1px solid;
        height:25px;
        width:125px;
        background-color: yellow
    }